<h1>Listing quotations</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotations.each do |quotation| %>
  <tr>
    <td><%= quotation.body %></td>
    <td><%= quotation.author %></td>
    <td><%= link_to 'Show', quotation %></td>
    <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
    <td><%= link_to 'Destroy', quotation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quotation', new_quotation_path %>
